@import "variables";
@import "breakpoints";
@import "markdown";
@import "bootswatch";

body {
    background-color: $offwhite;

    nav {
        button {
            border: 0;
        }
        .navbar-toggler {
            border-color: rgba(0,0,0,0) !important;
            width: 50px;
            text-align: center;
        }
    }

    .jumbotron {
        background-color: #EEE;
        h1 {
            font-family: "subway-new-york-sc", sans-serif;
            text-shadow: 5px 5px 0 #EEE, 10px 10px 5px #888888;
            font-size: 5rem;

            @media (min-width: 465px) {
                font-size: 6rem;
            }
            // font-weight: bold;
            @media (min-width: 614px) {
                font-size: 8rem;
            }
            @media (min-width: 767px) {
                font-size: 10rem;
            }
            @media (min-width: 991px) { 
                font-size: 12rem;
            }
        }
        h2 {
            font-family: 'omnes-pro', sans-serif;
        }
        a {
            text-decoration: none;
            color: $link-color;
            i {
                padding: 4px;
                text-shadow: 10px 10px 6px #AAA;
                font-size: 1.5rem;
                @media (min-width: 575px) {
                    font-size: 1.75rem;
                }
                @media (min-width: 767px) {
                    font-size: 2rem;
                }
            }
        }
    }
    #content {
        font-family: "omnes-pro" , sans-serif;
    }
}